<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tangpusweetshop.exam_system.mapper.UserMapper">
    <resultMap id="userResult" type="com.tangpusweetshop.exam_system.model.User">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="password" property="password"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="grade" property="grade"/>
        <result column="major" property="major"/>
    </resultMap>
    <select id="getUserByUserIdAndPassword" parameterType="java.lang.String" resultMap="userResult">
        select * from user where user_id=#{id} and password=#{pd};
    </select>
    <select id="getUserByUserId" parameterType="java.lang.String" resultMap="userResult">
        select * from user where user_id=#{id};
    </select>
    <insert id="createUser" parameterType="com.tangpusweetshop.exam_system.model.User" useGeneratedKeys="true">
        insert into user(user_id, password, type, name, code, grade, major)
        values (#{userId},#{password},#{type},#{name},#{code},#{grade},#{major});
    </insert>
    <delete id="deleteUserByUserId" parameterType="java.lang.String">
        delete from user where user_id=#{id};
    </delete>
    <select id="getUserList" parameterType="java.lang.Integer" resultMap="userResult">
        select * from user limit #{limit} offset #{offset};
    </select>
    <update id="updateUser" parameterType="com.tangpusweetshop.exam_system.model.User">
        update user set user.password=#{password},user.type=#{type},user.name=#{name},
                        user.code=#{code},user.grade=#{grade},user.major=#{major} where user_id=#{userId};
    </update>
</mapper>